#counselorTile {
	color: $white;
	height: 152px;
	strong {
		font: {
			weight: $fontBold;
		}
	}
	@media (max-width: 1102px) {
		height: 132px;
	}
	a {
		&:hover {
			/* was #FCC707 */
			color: $orange;
			opacity: 1;
		}
	}
	p {
		margin: {
			bottom: 0;
		}
	}
}
#geoNotSupported, #geoError {
	img {
		margin: {
		top: 10px;
		}
	}
	p {
		margin: {
			top: 10px;
		}
		position: absolute;
		bottom: 10px;
	}
}
#geoNoCounselor {
	margin: {
		top: 10px;
	}
	#leftSide {
		float: left;
		margin: {
			right: 10px;
		}
	}
	#rightside {
		margin: {
			top: 30px;
		}
	}
	#searchLink	{
		float: left;
		margin: {
			top: 20px;
		}
	}
}
#counselor {
	margin: {
		top: 10px;
	}
	@media (max-width: 1102px) {
		margin: {
			top: 5px;
		}
	}
	#leftSide {
		float: left;
		height: 135px;
		margin: {
			right: 10px;
		}
		@media (max-width: 1102px) {
			width: 30%;
		}
		@media (max-width: 640px) {
			height: 125px;
			width: 40%;
		}
	}
	#rightside {
		float: left;
		height: 135px;
		margin: {
			top: 0;
		}
		position: relative;
		width: 60%;
		@media (max-width: 1102px) {
			margin: {
				top: 0;
			}
		}
		@media (max-width: 640px) {
			height: 125px;
			width: 50%;
		}
		@media (max-width: 1005px) {
			height: 120px;
		}
		@media (max-width: 940px) {
			height: 110px;
		}
		#moreLink {
			position: absolute;
			bottom: 0;
			@media (max-width: 1102px) {
				display: none;
			}
			@media (max-width: 940px) {
				display: none;
			}
		}
		p {
			&#contactInfo {
				margin: {
					top: 10px;
				}
			}
		}
		a {
			#state {
				color: $yellow;
			}
		}
	}
}





















