/**** HEADER CHANGES ****/

/** General **/
.showTopMenuItem {
  display: none;
}
@media (max-width: $tablet) {
  .showTopMenuItem {
  display: inherit;
  }
}
.ALT-2 {
  background: center top repeat-x url('/application/themes/foundation-starter-site/images/template/color-gradient.png');
}
.name a:not(.button):hover { /* logo on mobile/tablet/desktop */
  opacity: 1;
}


/* TOP-TOOLBAR */
.top-toolbar{
  background-color: transparent;
  border: {
  	bottom: none;
  }
}

//TOPBAR PARTIALS
@import "toptoolbarRow1";
@import "toptoolbarRow2";
@import "topnavTopBar";