/* Responsive News Listing vn */
.newsListing {
	background: {
		color: $white;
	}
	border: 5px #3F3F3F solid;
	padding: 5px 10px;
	h2 {
		color: $black;
	}
	h3 {
		line-height: 20px;
		margin: {
			bottom: 5px;
		}
	}
	p {
		text: {
			align: right;
		}
	}
	a {
	color: $taylor-purple;
	}
}
@media (max-width: 650px) {
	.newsListing {
		font: {
			size: 18px;
		}
		line-height: 20px;
	}
}

/* Responsive Featured News/Story vn */
.featureNews {
	background: {
		color: $steel-grey;
	}
	overflow: hidden;
	h2 {
		color: $white;
		@include sanSerifFontFamily-nonBold;
		font: {
			size: 29px;
		}
		line-height: 28px;
		text: {
			transform: uppercase;
		}
	}
	img {
		float: left;
	}
	p {
		margin: {
			bottom: 5px;
		}
	}
}
@media (max-width: 1185px) {
	.featureNews h3 {
		font-size: 25px;
	}
}
@media (max-width: 1110px) {
	.featureNews h3 {
		font-size: 24px;
	}
}
@media (max-width: 1025px) {
	.featureNews h3 {
		font-size: 22px;
	}
}
@media (max-width: 965px) {
	.featureNews h3 {
		font-size: 20px;
	}
}
@media (max-width: 650px) {
	.featureNews h3 {
		font-size: 22px;
	}
}
@media (max-width: 550px) {
	.featureNews h3 {
		font-size: 20px;
	}
}