
/* Taylor Fact Study Abroad Stat vn */
.topicFact {
	background: {
		color: $steel-grey;
	}
	height: 190px;
	padding: {
		bottom: 5px;
	}
	text: {
		align: center;
	}
	width: 100%;
	h2 {
		background: {
			color: $taylor-green;
		}
		color: $white;
		font: {
			size: 12px;
			weight: $normal;
		}
		margin: 0;
		padding: 15px 0 10px;
		text: {
			transform: uppercase;
		}
	}
	p {
		color: $white;
		font: {
			size: 18px;
		}
		margin: 0 5px;
	}
	span {
		color: $white;
		font: {
			size: 58px;
		}
		margin: 0 5px;
		padding: 5px 5px;
	}
}
@media (max-width: 1090px) {
	.topicFact span {
		font: {
			size: 56px;
		}
	}
}
@media (max-width: 1025px) {
	.topicFact span {
		font: {
			size: 54px;
		}
	}
}
@media (max-width: 950px) {
	.topicFact span {
		font: {
			size: 52px;
		}
	}
	.topicFact p {
		font: {
			size: 15px;
		}
	}
}
@media (max-width: 650px) {
	.topicFact span {
		font: {
			size: 50px;
		}
	}
	.topicFact p {
		font: {
			size: 14px;
		}
	}
}
@media (max-width: 500px) {
	.topicFact span {
		font: {
			size: 48px;
		}
	}
	.topicFact p {
		font: {
		 size: 13px;
		}
	}
}