/* TILE OVERLAYS */
.overlayText {
	position: absolute;
	top: 40%;
	text: {
		align: center;
	}
	visibility: hidden;
	&.summary {
		top: 10%;
	}
	h2 {
		color: $very-light-grey;
		font: {
			family: Helvetica;
			size: 12px;
		}
		line-height: 18px;
		text: {
			transform: uppercase;
		}
	}
	&#overlayNoImage {
		padding: {
			right: 10px;
		}
	}	
}
.withOverlayText {
	background: {
		color: $dark-grey;
	}
	&:hover {
		.overlayText {
			opacity: 1;
			pointer-events: none;
			visibility: visible;
		}
		img {
			opacity: 0.1;
		}
	}
	a {
		&:hover {
			opacity: 0.1;
		}
	}
}
@media (max-width: 959px) {
    .withOverlayText {
    	&:hover {
    		.overlayText {
    			display: none;
    		}
    	}
     }
}
#textWrapper {
	display: block;
	height: 100%;
	width: 100%;
}
.colorWrapper {
	&:hover {
		opacity: 0.2;
		#textWrapper {
			opacity: 0.2;
		}
	}
}