/*Top-bar Search*/
.top-toolbar {
	#searchForm {
		> input {
			background: none repeat scroll 0 0 $white !important;
			color: rgb(102,102,102) !important;
			font: {
				size: 13px;
				weight: $bold;
			}
			text: {
				transform: uppercase;
			}
			//defined in variables
			@include borderRadius(0)
		}
	}
}

/* Topbar Menu Items */
.showTopMenuItems {
	display: none;
}
.fi-maginfyling-glass {
	color: $white;
	&.medium-fi {
		font: {
			size: 24px;
			position: absolute !important;
			right: 25px !important;
		}
	}
}
.top-bar-section {
	width: 100%;
	ul {
		.right {
			font: {
				family: "Times New Roman", Times, serif;
			}
		}
		li {
			a {
				color: $very-light-grey;
			}
		}
	}
}
@media (max-width: 939px) {
  	.showTopMenuItem {
  		display: inherit;
  	}
}
/* TU Logo- Nameplate */
.row {
	&.logo-menu {
		padding: {
			top: 0px !important;
		}
	}
}
.title-area {
	&.tu-logo {
		text: {
			align: center;
		}
		left: 40%;
	}
}
.name {
	h1 {
		a {
			img {
				background: {
					color: $taylor-purple;
				}
				margin: {
					top: -15px;
				}
				padding: 5px 20px;
			}
		}
	}
}
.audienceButtons {
	a {
		background: {
			color: transparent !important;
		}
		color: $white !important;
		line-height: 20px !important;
	}
	.current {
		background: {
			color: $taylor-blue !important;
		}
	}
	li {
		@include topBarButtons;
	}
}
.admButtons {
	a {
		background: {
			color: $taylor-blue !important;
		}
		color: $white;
		line-height: 20px !important;
	}
	li {
		@include topBarButtons;
	}
}
#mainNav {
	text: {
		transform: uppercase;
	}
}

/* Alternate Header Styling */
.title-area {
	&.tu-logoALT {
		left: 0%;
		text: {
			align: left;
		}
	}
}
.admButtonsALT {
	@include topBarButtons;
	a {
		background: {
			color: $taylor-blue !important;
		}
		color: $white !important;
		line-height: 20px !important;
	}
}
#searchForm {
	input {
		font: {
			size: 8px !important;
		}
		top:0;
	}
}
.searchALT {
	font: {
		size: 13px !important;
	}
	line-height: 16px !important;
}