/*Twitter Widget Homepage / mg */
#twitter-widget-6, #twitter-widget-0 {
	width:80%;
}
img {
	&.tweetieBird {
	height: 62px;
	padding: {
		top: 10px;
	}
	position: absolute;
	left: 121px;
	top: 10px;
	width: 52px;
	}
}
.taylorTweet {
	border: {
		bottom: 2px solid $silver;
		top: 2px solid $silver;
	}
	height: 95px;
	overflow: hidden;
	text: {
		align: center;
	}
}
@media (max-width: 1036px) {
	.taylorTweet{
		height:95px; 
	}
}
@media (max-width: 864px) {
	.taylorTweet{
		height:110px; 
	}
}
@media (max-width: 535px) {
	.taylorTweet{
		height:125px; 
	}
}
@media (max-width: 424px) {
	img.tweetieBird {
		 width: 36px;
		 height: 48px;
		 padding:{ 
		 	top: 10px;
		 }
	}
}
