@import "variables";

/*Custom CSS Transitions - mg*/
.isotope,
.isotope .isotope-item {
  @include transitionDuration (0.8s);
}

.isotope {
	@include transitionDuration((height, width));
}

.isotope .isotope-item {
	@include transitionDuration((-webkit-transform, opacity));
  
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
   @include transitionDuration (0s);
}


/**** GENERAL PAGE OR BODY CHANGES ****/
h1 {
	@media(max-width: 1070px) {
		font: {
		size: 36px;
		weight: 700;
		}
		line-height: 45px;
		margin: 0 0 23px 0;
		text: {
			transform:uppercase;
		}
	}
}
h2 {
	@media(max-width: $tablet) {
		color: $burnt-orange;
		font: {
		size: 16px;
		weight: 400;
		}
		line-height: 20px;
		text: {
			transform:uppercase;
		}
	}
}


/* CSS classes from base.css */
.clear {
	clear: both;
}
.clear-left {  			
	clear: left;
}
.clear-right {  		
	clear: right;
}


body {
	background: $grey-dark !important;
}
#main {
	@include boxShadow(none !important);
	max-width: $overallMaxWidth !important;
}
#main .row {
	background-color: $grey-dark;
}
.row {
	max-width: $overallMaxWidth !important;
	padding: 10px 20px 20px 20px !important;
}
.column, .columns {
  @include marginPadding(0 !important, 5px !important);
}
@media only screen {
	.column, .columns {
		@include marginPadding(0 !important, 5px !important);
	}
}

//PARTIALS
@import "header";
@import "footer";